@charset "UTF-8";

html {
  font-size: 62.5%;
}

.wrap {
  width: 1424px;
  height: 2000px;
  color: #444;
  font-size: 1.2rem;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

/***************************************************************/
.header {
  width: 1424px;
  height: 900px;
  position: relative;
}

.header .header-image {
  width: 100%;
  height: 900px;
}

.header .header-image img {
  width: 100%;
  height: 900px;
}

.header .nav {
  width: 600px;
  height: 50px;
  position: absolute;
  top: 0;
  bottom: 0
}

.header .nav ul {
  width: 600px;
  height: 50px;
  margin-left: 750px;
}

.header .nav ul li {
  list-style: none;
  float: left;
  font-size: 20px;
  margin-left: 30px;
  font-weight: 600;
  font-size: 25px;
  color: #FFE600;
}

.header .nav ul li a {
  list-style: none;
  text-decoration: none;
  float: left;
  font-size: 20px;
  margin-left: 30px;
  font-weight: 600;
  font-size: 25px;
  color: #FFE600;
}

/***********detail.html****************/
.header .section {
  width: 1400px;
  height: 100px;
  position: absolute;
  top: 280px;
  bottom: 200px;
  color: white;
  font-size: 80px;
  font-weight: 600;
  text-align: center;
}

/***************************/
/***************************************************************/
.wrap .box {
  width: 100%;
  height: 1280px;
}

.wrap .box-menu {
  width: 100%;
  height: 1280px;
}


/****************top.html***************************/
.box .content-a {
  width: 1424px;
  height: 380px;
  background-color: #FFFFFF;
}

.content-a .image-box {
  width: 500px;
  height: 334px;
  float: left;
  margin-top: 30px;
  margin-left: 120px;
}

.content-a .text-box {
  width: 650px;
  height: 330px;
  float: right;
  margin-top: 30px;
  margin-right: 120px;
}

.text-box .text {
  width: 400px;
  height: 120px;
}

.text-box .text h2 {
  font-size: 40px;
}

.text-box .text-detail {
  width: 650px;
  height: 180px;
}

.text-box .text-detail h3 {
  font-size: 20px;
}

/*********detail.html************************/
.box-detail .content {
  width: 1424px;
  height: 650px;
  background-color: #FFFFFF;
}

.content .contentbox {
  width: 400px;
  height: 500px;
  float: left;
  margin-left: 150px;
  margin-top: 50px;
}

.contentbox .section {
  width: 100px;
  height: 480px;
  float: right;
  writing-mode: vertical-rl;
  font-size: 40px;
}

.contentbox .sentence {
  width: 180px;
  height: 480px;
  float: left;
  writing-mode: vertical-rl;
  font-size: 25px;
}

.content .contentbox-img {
  width: 700px;
  height: 466px;
  float: right;
  margin-right: 50px;
  margin-top: 50px;
}

/****************menu.html*****************/
.box-menu .content-box {
  width: 1424px;
  height: 500px;
  background-color: #ffffff;
}

.content-box .img-box {
  width: 500px;
  height: 400px;
  background-color: #E5D7EE;
  margin: 50px 60px;
  float: left;
  border-radius: 10px;
}

.content-box .img-box img {
  width: 400px;
  height: 300px;
  margin: 50px 50px;
  border-radius: 10px;
}

.content-box .textbox {
  width: 500px;
  height: 300px;
  float: right;
  margin-right: 300px;
  margin-top: 100px;
}

.textbox .text {
  width: 500px;
  height: 50px;
  text-align: center;
  font-size: 50px;
}

.textbox .section {
  width: 500px;
  height: 150px;
  text-align: center;
  font-size: 20px;
}

/***********access.html**************************/
.wrap .accessbox {
  width: 1424px;
  height: 1000px;
}

.aceessbox .contener {
  width: 1424px;
  height: 800px;
}


.contener .contener-box {
  width: 1424px;
  height: 500px;
  border: 1px solid;
  display: flex;

}

.contener-box .ggmap {
  width: 800px;
  height: 500px;
}

.ggmap iframe {
  width: 800px;
  height: 500px;
}

.contenerbox .contener-text {
  width: 600px;
  height: 500px;
}

.contener-text .text-detail {
  width: 600px;
  height: 80px;
  text-align: center;
  margin-left: 10px;
  font-size: 50px;
}

.contener-text .text-detail-box {
  width: 600px;
  height: 300px;
  text-align: center;
  margin-top: 30px;
  margin-left: 10px;
  font-size: 30px;
}

/************top.html*************************************************/
.box .content-b {
  width: 1424px;
  height: 600px;
  background-color: #FFFFFF;
  margin-top: -35px;
}

.content-b .text {
  width: 450px;
  height: 120px;
  margin-left: 500px;
  border-bottom: 5px solid #E5D7EE;
}

.content-b .text h2 {
  font-size: 40px;
  text-align: center;
  padding-top: 40px;
}

.content-b .text-box {
  width: 1424px;
  height: 410px;
}

.text-box .detail-b {
  width: 700px;
  height: 400px;
  float: left;
}

.text-box .detail-b img {
  margin-left: 200px;
  margin-top: 20px;
}

.text-box .detail-b h3 {
  font-size: 30px;
  margin-left: 100px;
  text-align: center;
}

.text-box .detail-b-right {
  width: 700px;
  height: 400px;
  float: right;
}

.text-box .detail-b-right img {
  margin-left: 110px;
  margin-top: 20px;
}

.text-box .detail-b-right h3 {
  font-size: 30px;
  text-align: center;
  margin-left: -30px;
}

/**********detail.html********************/
.content-b .section {
  width: 500px;
  height: 80px;
  font-size: 40px;
  text-align: center;
  padding-top: 30px;
  margin-left: 500px;
  border-bottom: 5px solid #E5D7EE;
}

.content-b .sentence {
  width: 1424px;
  height: 400px;
  font-size: 28px;
  text-align: center;
}

/******************************/
/***************menu.html**********************************/
.box-menu .content-b {
  width: 1424px;
  height: 560px;
  background-color: #ffffff;
  margin-top: -45px;
}

.content-b .menubox {
  width: 1424px;
  height: 560px;
}

.menubox .text {
  width: 500px;
  height: 80px;
  font-size: 50px;
  text-align: center;
  padding-top: 30px;
  margin-left: 500px;
  border-bottom: 5px solid #E5D7EE;
}

.menubox .sentence {
  width: 1424px;
  height: 400px;
}

.menubox .menu {
  width: 600px;
  height: 350px;
  float: left;
  margin-left: 250px;
  margin-top: -20px;
}

.menubox .price {
  width: 300px;
  height: 350px;
  float: right;
  margin-right: 250px;
  margin-top: -20px;
}

/**************top.html***************************/

.box .content-c {
  width: 1424px;
  height: 400px;
  background-color: #FFFFFF;
  margin-top: -30px;
}

.content-c .text {
  width: 800px;
  height: 70px;
  font-size: 50px;
  margin-top: -20px;
  margin-left: 300px;
  border-bottom: 5px solid #E5D7EE;
  text-align: center;
}

.content-c .text-detail {
  width: 1424px;
  height: 150px;
  font-size: 25px;
  text-align: center;
}


/******menu.html*********************/
.box-menu .content-c-box {
  width: 1424px;
  height: 300px;
  background-color: #FFFFFF;
}

.content-c-box .text-boxs {
  width: 1424px;
  height: 250px;
}

.text-boxs .text {
  width: 750px;
  height: 100px;
  font-size: 50px;
  text-align: center;
  margin-top: -30px;
  border-bottom: 5px solid #E5D7EE;
  margin-left: 350px;
}

.text-boxs .detail-text {
  width: 1424px;
  height: 80px;
  font-size: 30px;
  text-align: center;
}

/*****************************/


.wrap .footer {
  width: 1424px;
  height: 230px;
  margin-top: -10px;
  background-color: #7379AE;
}

.footer .footer-box {
  width: 1424px;
  height: 230px;
  padding-top: 15px;
}

.footer-box .footer-logo {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin-left: 270px;
  float: left;
}

.footer-box .footer-logo img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.footer-box .footer-text {
  width: 700px;
  height: 230px;
  float: right;
  margin-right: 200px;
}

.footer-text .fotter-detail {
  width: 400px;
  height: 230px;
  float: left;
}

.footer-text .fotter-detail h3 {
  width: 500px;
  font-size: 30px;
  margin-top: 50px;
}

.footer-text .sns-a {
  width: 200px;
  height: 200px;
  float: right;
  border-radius: 100px;
  margin-right: 50px;
}

.footer-text .sns-a img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

/***************************************************************************/
/***************************************************************************/
/**************************************タブレット******************************/
@media screen and (max-width: 768px) {



  /****viewportの幅が768px以下の場合に適用*******/
  .wrap {
    max-width: 768px;
  }

  .wrap .box {
    width: 100%;
    height: 1150px;
  }

  .header {
    max-width: 768px;
    height: 500px;
    position: relative;
  }

  .header .header-image {
    width: 100%;
    height: 500px;
  }

  .header .header-image img {
    width: 100%;
    height: 500px;
  }

  .header .nav {
    max-width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    bottom: 0
  }

  .header .nav ul {
    width: 100%;
    margin-left: 50px;
  }


  .header .nav ul li {
    list-style: none;
    float: left;
    font-size: 3.5vw;
    margin-left: 30px;
    font-weight: 600;
    color: yellow;
  }

  .header .nav ul li a {
    list-style: none;
    float: left;
    font-size: 3.5vw;
    margin-left: 30px;
    font-weight: 600;
    color: yellow;
  }

  /*******detail.html********************/
  .header .section {
    max-width: 768px;
    height: 500px;
    position: absolute;
    top: 200px;
    bottom: 200px;
    color: hotpink;
    font-size: 4.0vw;
    font-weight: 600;
    text-align: center;
  }

  /***************************/

  /**********************/
  .box .content-a {
    max-width: 768px;
    height: 400px;
    background-color: #DBA6CC;
  }

  .content-a .image-box {
    width: 300px;
    height: 70px;
    float: left;
    margin-top: 30px;
    margin-left: 30px;
  }

  .content-a .image-box img {
    max-width: 100%;
  }

  .content-a .text-box {
    width: 400px;
    height: 330px;
    float: right;
    margin-top: 30px;
    margin-right: 10px;
  }

  .text-box .text {
    width: 400px;
    height: 70px;
  }

  .text-box .text h2 {
    font-size: 6.0vw;
    text-align: center;
    padding-top: -40px;
  }

  .text-box .text-detail {
    width: 400px;
    height: 110px;
  }

  .text-box .text-detail h3 {
    font-size: 2.8vw;
    text-align: justify;
  }

  /*********************************/
  .box .content-b {
    width: 768px;
    height: 435px;
    background-color: #BFC2DF;
    margin-top: -40px;
  }

  .content-b .text {
    width: 100%;
    height: 100px;
    padding-top: 0px;
  }

  .content-b .text h2 {
    font-size: 6.0vw;
    text-align: center;
    padding-top: -15px;
    padding-bottom: 10px;
  }

  .content-b .text-box {
    width: 768px;
    height: 330px;
  }

  .text-box .detail-b {
    width: 300px;
    height: 200px;
    float: left;
    margin-left: 30px;
    margin-top: 20px;
  }

  .text-box .detail-b img {
    max-width: 100%;
    margin-left: 0px;
    margin-top: 0px;
  }

  .text-box .detail-b h3 {
    width: 300px;
    font-size: 3.0vw;
    margin-left: 0px;
    text-align: center;
  }

  .text-box .detail-b-right {
    width: 300px;
    height: 200px;
    margin-top: 20px;
    margin-right: 30px;
    float: right;
  }


  .text-box .detail-b-right img {
    max-width: 100%;
    margin-left: 0px;
    margin-top: 0px;
  }

  .text-box .detail-b-right h3 {
    width: 350px;
    font-size: 3.0vw;
    text-align: center;
    margin-left: -30px;
  }

  /******************************/
  .box .content-c {
    width: 768px;
    height: 350px;
    background-color: #E6E5F7;
    margin-top: -30px;
  }

  .content-c .text {
    width: 768px;
    height: 50px;
    font-size: 4.0vw;
    padding-top: 30px;
    text-align: center;
  }

  .content-c .text-detail {
    width: 768px;
    height: 130px;
    font-size: 3.5vw;
    text-align: center;
  }

  /********************************/

  /***************************************************/

  .wrap .footer {
    max-width: 100%;
    height: 130px;
    margin-top: -3px;
  }


  .footer .footer-box {
    width: 768px;
    height: 110px;
    margin-left: 0px;
    padding-top: 15px;
  }

  .footer-box .footer-logo {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    float: left;
    margin-left: 40px;
  }

  .footer-box .footer-logo img {
    max-width: 100%;
    height: auto;
    border-radius: 100px;
  }

  .footer-box .footer-text {
    width: 550px;
    height: 110px;
    float: right;
    margin-right: 0px;
  }

  .footer-text .fotter-detail {
    width: 400px;
    height: 100px;
    float: left;
  }

  .footer-text .fotter-detail h3 {
    font-size: 3.0vw;
    margin-top: 0px;
  }

  .footer-text .sns-a {
    width: 100px;
    height: 100px;
    float: right;
    border-radius: 100px;
    margin-right: 50px;
  }

  .footer-text .sns-a img {
    max-width: 100%;
    height: auto;
    border-radius: 100px;
  }

}





/****************************************************************/
/*************************スマホ*********************************/
/**************************************************************/

@media screen and (max-width: 600px) {

  /****viewportの幅が600px以下の場合に適用*******/
  .wrap {
    font-size: 3.5vw;
    max-width: 375px;
    height: 550px;
  }

  .wrap .header {
    max-width: 375px;
    height: 200px;
    position: relative;
  }

  .header .header-image {
    width: 100%;
    height: 200px;
  }

  .header .header-image img {
    width: 100%;
    height: 200px;
  }


  header .nav {
    width: 300px;
    height: 30px;
    position: absolute;
    top: 0;
    bottom: 0
  }

  .header .nav ul {
    width: 300px;
    height: 30px;
    margin-left: 10px;
  }

  .header .nav ul li {
    list-style: none;
    float: left;
    font-size: 3.5vw;
    margin-left: 10px;
    font-weight: 600;
    color: yellow;
  }

  .header .nav ul li a {
    list-style: none;
    float: left;
    font-size: 3.5vw;
    margin-left: 10px;
    font-weight: 600;
    color: yellow;
  }

  /********detail.html*******************/
  .header .section {
    max-width: 375px;
    height: 20px;
    position: absolute;
    top: 100px;
    bottom: 100px;
    color: white;
    font-size: 3.5vw;
    font-weight: 600;
    text-align: center;
  }

  /*********top.html****************/
  .wrap .box {
    max-width: 100%;
    height: 730px;
  }


  .wrap .box-detail {
    width: 375px;
    height: 700px;
  }

  /****************top.html***********************************************/
  .box .content-a {
    width: 375px;
    height: 270px;
    background-color: #FFFFFF;
  }

  .content-a .image-box {
    width: 100px;
    height: 70px;
    float: left;
    margin-top: 30px;
    margin-left: 10px;
  }

  .content-a .image-box img {
    max-width: 100%;
  }

  .content-a .text-box {
    width: 250px;
    height: 210px;
    float: right;
    margin-top: 30px;
    margin-right: 10px;
  }

  .text-box .text {
    width: 250px;
    height: 50px;
  }

  .text-box .text h2 {
    font-size: 6.0vw;
    text-align: center;
    padding-top: -40px;
  }

  .text-box .text-detail {
    width: 250px;
    height: 110px;
  }

  .text-box .text-detail h3 {
    font-size: 3.3vw;
    text-align: justify;
  }

  /*******detail.html**************************/
  .box-detail .content {
    width: 375px;
    height: 100px;
    background-color: #FFFFFF;
    border: 1px solid;
  }

  .content .contentbox {
    width: 250px;
    height: 220px;
    float: left;
    margin-left: 0px;
    margin-top: 50px;
  }

  .contentbox .section {
    width: 30px;
    height: 220px;
    float: right;
    writing-mode: vertical-rl;
    font-size: 4.0vw;
  }

  .contentbox .sentence {
    width: 120px;
    height: 220px;
    float: left;
    writing-mode: vertical-rl;
    font-size: 3.0vw;
  }

  .content .contentbox-img {
    width: 100px;
    height: auto;
    float: right;
    margin-right: 0px;
    margin-top: 50px;
  }


  /**********top.html*********************/
  .box .content-b {
    width: 375px;
    height: 270px;
    background-color: #FFFFFF;
    margin-top: -20px;
  }

  .content-b .text {
    width: 60%;
    height: 40px;
    margin-left: 80px;
    border-bottom: 5px solid #E5D7EE;
  }

  .content-b .text h2 {
    font-size: 6.0vw;
    text-align: center;
    padding-top: 0px;
  }

  .content-b .text-box {
    width: 375px;
    height: 180px;
  }

  .text-box .detail-b {
    width: 150px;
    height: 150px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
  }

  .text-box .detail-b img {
    max-width: 100%;
    margin-left: 0px;
    margin-top: 0px;
  }

  .text-box .detail-b h3 {
    width: 150px;
    font-size: 3.0vw;
    margin-left: 0px;
    text-align: center;
  }

  .text-box .detail-b-right {
    width: 150px;
    height: 150px;
    margin-top: 20px;
    margin-right: 20px;
    float: right;
  }


  .text-box .detail-b-right img {
    max-width: 100%;
    margin-left: 0px;
    margin-top: 0px;
  }

  .text-box .detail-b-right h3 {
    width: 150px;
    font-size: 3.0vw;
    text-align: center;
    margin-left: 0px;
  }

  /*********detail.html***************/
  .box-detail content-b {
    width: 300px;
    height: 300px;
  }


  .content-b .section {
    width: 300px;
    height: 50px;
    font-size: 4.0vw;
    text-align: center;
    padding-top: 30px;
    margin-left: 30px;
  }

  .content-b .sentence {
    width: 375px;
    height: 200px;
    font-size: 3.5vw;
    text-align: center;
  }

  /*********top.html****************/
  .box .content-c {
    width: 375px;
    height: 220px;
    background-color: #FFFFFF;
    margin-top: -30px;
  }

  .content-c .text {
    width: 350px;
    height: 30px;
    font-size: 5.0vw;
    padding-top: -30px;
    margin-left: 20px;
    text-align: center;
  }

  .content-c .text-detail {
    width: 375px;
    height: 130px;
    font-size: 3.5vw;
    text-align: center;
  }

  /*********menu.html*****************/
  .wrap .box-menu {
    width: 375px;
    height: 530px;
  }


  .box-detail .content {
    width: 375px;
    height: 500px;
  }

  .box-menu .content-box {
    width: 375px;
    height: 250px;
    background-color: #ffffff;
  }

  .content-box .img-box {
    width: 120px;
    height: 100px;
    background-color: #E5D7EE;
    margin: 50px 10px;
    float: left;
    border-radius: 10px;
  }

  .content-box .img-box img {
    width: 100px;
    height: auto;
    margin: 10px;
    border-radius: 10px;
  }

  .content-box .textbox {
    width: 230px;
    height: 200px;
    float: right;
    margin-right: 0px;
    margin-top: 0px;
  }

  .textbox .text {
    width: 200px;
    height: 50px;
    text-align: center;
    font-size: 4.0vw;
  }

  .textbox .section {
    width: 200px;
    height: 150px;
    text-align: center;
    font-size: 3.0vw;
  }

  /***************menu.html**********************************/
  .box-menu .content-b {
    width: 375px;
    height: 260px;
    background-color: #ffffff;
    margin-top: -45px;
  }

  .content-b .menubox {
    width: 375px;
    height: 260px;
  }

  .menubox .text {
    width: 100px;
    height: 30px;
    font-size: 4.0vw;
    text-align: center;
    margin-left: 150px;
    padding-top: -70px;
  }

  .menubox .sentence {
    width: 375px;
    height: 150px;
  }

  .menubox .menu {
    width: 200px;
    height: 150px;
    float: left;
    font-size: 3.0vw;
    margin-left: 20px;
    margin-top: -20px;
  }

  .menubox .price {
    width: 100px;
    height: 150px;
    float: right;
    font-size: 3.0vw;
    margin-right: 50px;
    margin-top: -20px;
  }

  /******menu.html*********************/
  .box-menu .content-c-box {
    width: 375px;
    height: 150px;
    background-color: #FFFFFF;
  }

  .content-c-box .text-boxs {
    width: 375px;
    height: 150px;
  }

  .text-boxs .text {
    width: 200px;
    height: 30px;
    font-size: 4.0vw;
    text-align: center;
    margin-top: -30px;
    border-bottom: 5px solid #E5D7EE;
    margin-left: 80px;
  }

  .text-boxs .detail-text {
    width: 375px;
    height: 80px;
    font-size: 3.0vw;
    text-align: center;
  }

  /***************************************************/

  .wrap .footer {
    width: 375px;
    height: 80px;
    margin-top: 30px;
  }

  .footer .footer-box {
    width: 375px;
    height: 80px;
    margin-left: 0px;
  }

  .footer-box .footer-logo {
    width: 60px;
    height: 60px;
    border-radius: 100px;
    float: left;
    margin-left: 20px;
  }

  .footer-box .footer-logo img {
    max-width: 100%;
    height: auto;
    border-radius: 100px;
  }

  .footer-box .footer-text {
    width: 280px;
    height: 60px;
    float: right;
    margin-right: 0px;
  }

  .footer-text .fotter-detail {
    width: 150px;
    height: 50px;
    float: left;
    margin-left: 30px;
  }

  .footer-text .fotter-detail h3 {
    width: 150px;
    height: 50px;
    font-size: 2.0vw;
    margin-top: 0px;
  }

  .footer-text .sns-a {
    width: 60px;
    height: 60px;
    float: right;
    border-radius: 100px;
    margin-right: 20px;
  }

  .footer-text .sns-a img {
    max-width: 100%;
    height: auto;
    border-radius: 100px;
  }

  /********************************************/


}
